    
      <%= form_with(model: chat, local: true) do |form| %>
      <% if chat.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

          <ul>
            <% chat.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class=" form-group">
        <%= form.label :title %>
        <%= form.text_field :title ,class:"form-control"%>
      </div>

      <div class=" form-group">
        <%= form.label :message %>
        <%= form.text_area :message ,class:"form-control"%>
      </div>

      <div class=" form-group">
        <%= form.label :receiver %>
         <%= form.collection_select :receiver_id, User.order(:name),:id,:name, include_blank: true ,class:"form-control"%>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>

